services:
  backend:
    container_name: ltweb-backend
    build:
      context: ./backend
      dockerfile: ./backend/api.Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - app-network
    restart: always

  frontend:
    container_name: ltweb-frontend
    build: 
      context: ./frontend
      dockerfile: ./frontend/fe.Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge