services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=mongodb+srv://ledongcanhphu_db_user:uK6HjnSrMsjLVeWe@cluster0.taxahyy.mongodb.net/laptopstore?appName=Cluster0
      - JWT_SECRET=your_house_key
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge